<%
    # Required local params
  # @param user [User] - an instance of User to render the form for.
%>

<p class="data-row">
  <span class="data-name">Korean Name:</span>
  <span class="data-value"><%= indication.name_ko %></span>
  </p>

  <p class="data-row">
  <span class="data-name">Related Organs:</span>
  <span class="data-value"><% @zangfus.map{|p| p.name_eng}.join(",")  %></span>
  <span class="data-value"><% @zangfus.each do |i| %></span>
    <%= i.name_eng %><%= "," unless i == @zangfus.last %>
<% end %>
  </p>

  <p class="data-row">
  <span class="data-name">Created on:</span>
  <span class="data-value"><%= indication.created_at %></span>
  </p>
  <p class="data-row">
  <span class="data-name">Last updated on:</span>
  <span class="data-value"><%= indication.updated_at %></span>
  </p>

  <p class="data-row">
  <span class="data-name">Description:</span>
  <span class="data-value"><%= indication.description %></span>
  </p>

  <div class="panel panel-default">
    <div class="panel-heading"><label>Sub Indications</label>
    </div>
    <div class="panel-body">
      <% @subindications.each do |i| %>
        <li> <%= i.name_eng %></li>
    <% end %>
    </div>
  </div>


