<div class="col-md-10 col-xs-12 col-sm-9">
  <div class="page-header">
    <h1>Points</h1>
  </div>

  <div class="row">
    <div class="col-md-10">
      <div class="panel panel-default">
        <div class="panel-heading">
          <%= link_to "Add new", new_point_path, class: "btn btn-info" %>
        </div>

        <div class="table-responsive">
          <table id="users" class="table table-bordered table-hover">
            <tbody>
            <% @points.each do |i| %>
              <tr id="point-<%= i.id %>">
              <td><%= link_to i.name_eng , point_path(i) %> </td> 
              <td><%= link_to i.name_ko , point_path(i) %> </td> 
              <td>
                <%= link_to "Edit", edit_point_path(i) %> | 
                <%= link_to "Delete", point_path(i), method: :delete, data: { confirm: 'Are you sure that you want to delete?'} %>
              </td>
            </tr>
          <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
