<%
    # Required local params
  # @param user [User] an instance of User to render the form for.
%>

<%= simple_form_for subindication, 
  html: {class: "form-horizontal" },
  wrapper: :horizontal_form,
  wrapper_mappings: {
  } do |f| %>
   <div class="button-container row text-right">
    <%= link_to "Back to index", indications_path, class: "btn btn-default" %>
    <%= f.submit "Update Subindication", class: "btn btn-info", params: {indication_id: params[:indication_id]} %>
  </div>
  <fieldset >
  <div class="col-md-10">
    <%= f.association :indications, collection_select: Indication.order(:name_eng), prompt: "Select a Indication category", :label_method => :name_eng, :value_method => :id, :input_html=> {multiple: false, style: 'inline'}%>
  </fieldset >


  <fieldset >
    <div class="col-md-10 text-left form-inline">
      <label>Related Organs</label>
      <%= f.association :zangfus, as: :check_boxes, collection: Zangfu.order(:name_eng), label: false, :label_method => :name_eng, :value_method => :id,  :item_wrapper_class => 'checkbox-container'%>
    </div>
  </fieldset>
  <fieldset>
    <%= f.input :name_eng, :input_html => {:size => 200, :maxlength => 255} %>
    <%= f.input :name_ko, :input_html => {:size => 200, :maxlength => 255} %>
    <%= f.input :description, as: :text %>
  </fieldset>
  <div class="button-container pull-right">

    <%= link_to "Back to index", indications_path, class: "btn btn-default" %>
    <%= f.submit "Update Subindication", class: "btn btn-info", params: {indication_id: params[:indication_id]} %>
  </div>
<% end %>
