<div class="right-panel">
  <div class="page-header">
    <h3>Sign up</h3>
  </div>

  <%= simple_form_for @user, 
    html: {class: "form-horizontal" },
    wrapper: :horizontal_form,
    wrapper_mappings: {
    } do |f| %>

    <%= f.error_notification %>
    <div id="user-edit">
      <div class="row">
        <div class="form-inputs">
          <%= f.input :name, required: true, autofocus: true %>
          <%= f.input :email, required: true, autofocus: true %>
          <%= f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @validatable) %>
          <%= f.input :password_confirmation, required: true %>
          <%= f.association :roles, collection_collection: User::ROLES, :value_method => :id, prompt: "Select a user role", :input_html=> {multiple: false, style: 'inline'}%>
        </div>

        <div class="form-actions text-center">
          <%= f.button :submit, "Sign up" %>
        </div>
      <% end %>

      </div>
    </div>
  </div>
</div>
