<%
    # Required local params
  # @param user [User] - an instance of User to render the form for.
%>

<div class="disease-info">
    <p class="data-row">
    <span class="data-name">Category :</span>
    <span class="data-value"><%= @category.name_eng %></span>
    </p>


    <p class="data-row">
    <span class="data-name">Name :</span>
    <span class="data-value"><%= disease.name_eng %></span>
    </p>
    <p class="data-row">
    <span class="data-name">Name :</span>
    <span class="data-value"><%= disease.name_ko %></span>
    </p>
    <p class="data-row">
    <span class="data-name">TCM Name :</span>
    <span class="data-value"><%= disease.name_tcm %></span>
    </p>

    <p class="data-row">
    <span class="data-name">Organ :</span>
    <span class="data-value">
      <% @zangfus.each do |z| %><%= z.name_eng %><% end %></span>
    </p>

    <p class="data-row">
    <span class="data-name">Western Dx :</span>
    <span class="data-value"><%= disease.western_dx %></span>
    </p>

    <p class="data-row">
    <span class="data-name">Description:</span>
    <span class="data-value"><%= disease.description %></span>
    </p>

    <p class="data-row">
    <span class="data-name">Description:</span>
    <span class="data-value"><%= disease.description %></span>
    </p>

    <p class="data-row">
    <span class="data-name">Created on:</span>
    <span class="data-value"><%= disease.created_at %></span>
    </p>

    <p class="data-row">
    <span class="data-name">Last updated on:</span>
    <span class="data-value"><%= disease.updated_at %></span>
    </p>

    <div class="panel panel-default">
      <div class="panel-heading"><label>Sub Indications</label></div>
      <div class="panel-body">
        <% @subindications.each do |i| %>
          <li> <%= i.name_eng %></li>
      <% end %>
      </div>
    </div>
  </div>
