<%
    # Required local params
  # @param user [User] an instance of User to render the form for.
  ##form_for url: {action: "show"}, html: {method: "get"} do |f|
%>

<%= simple_form_for disease,
  html: {class: "form-horizontal"},
  wrapper: :horizontal_form,
  wrapper_mappings: {
  } do |f| %>

  <div class="button-container row text-right">
    <%= link_to "Back to index", diseases_path, class: "btn btn-default" %>
    <%= f.submit "Submit", class: "btn btn-info" %>
  </div>
  <div class="row">
    <fieldset >
      <div class="col-md-10">
        <%= f.association :categories, collection_select: Category, prompt: "Select a Indication category",label: false, :label_method => :name_eng, :value_method => :id,  :item_wrapper_class => 'checkbox-container', :input_html=> {multiple: false, style: 'inline'}%>
      </fieldset >

      <fieldset >
        <div class="col-md-10 form-inline">
          <label>Related Organs </label>
        <%= f.association :zangfus, as: :check_boxes, collection: Zangfu.order(:name_eng), label: false, :label_method => :name_eng, :value_method => :id,  :item_wrapper_class => 'checkbox-container'%>
        </div>
      </fieldset>
      <fieldset>
        <div class="col-md-10">
          <%= f.input :name_eng, :input_html => {:size => 200, :maxlength => 255} %>
          <%= f.input :name_ko, :input_html => {:size => 200, :maxlength => 255} %>
          <%= f.input :name_tcm, :input_html => {:size => 200, :maxlength => 255} %>
          <%= f.input :description, as: :text %>
        </div>
      </fieldset>
      <fieldset>
        <p class="data-row">
        <span class="data-value">
          <%= f.select :indication_id, options_for_select(@list_indications.collect { |i|
            [i.name_eng.titleize, i.id] }, 1), {}, { id: 'indications_select' } %>
          <%= f.select :subindication_id, options_for_select(@list_subindications.collect { |s|
            [s.name_eng.titleize, s.id] }, 0), {}, { id: 'subindications_select' } %>
        </span>
            <%= hidden_field_tag :disease_id, @disease_id %>
          <%= link_to "Add", "#", :id => 'btn_add_subindication_'+ params[:id].to_s, class: "btn btn-default btn_add_subindication"%>
          </p>

        </fieldset>
        <div class="panel panel-default">
          <div class="panel-heading"><label>Sub Indications</label></div>

          <%= render partial: "subindication", locals: { subindications: @disease.subindications} %>            
      </div>
      </div>

      </br>
      <div class="button-padding pull-right">
        <%= link_to "Back to index", diseases_path, class: "btn btn-default" %>
        <%= f.submit "Submit", class: "btn btn-info" %>
      </div>
    </div>
  <% end %>
